@{
    ViewData["Title"] = "Svarta Bjørn | Index";
}


<div class="row" style="min-height:70vh; padding-top:5vh;">
    <div class="col-md-6 text-center">
        <a asp-area="" asp-controller="Administrator" asp-action="Index">
            <div type="button" class="btn btn-primary btn-lg active">Administrator</div>
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a asp-area="" asp-controller="Administrator" asp-action="Index">
            <div type="button" class="btn btn-primary btn-lg active">Chat-medarbeider</div>
        </a>
    </div>
</div>

@*<h1>Test-sider</h1>
<p>Flyttet over fra vanlig html til MVC løsning. Må enda tilpasses en del. Selve chatboksen hostes fra kark.uit.no da denne ligger utenfor MVC prosjektet.</p>
<p>For å teste kan du logge inn med følgende brukere(du kan også registrere ny bruker):</p>
<ul>
    <li>Bruker: admin@nk.no, Pass: Password1</li>
    <li>User1: user1@nk.no, Pass: Password1</li>
    <li>User2: user2@nk.no, Pass:Password1</li>
</ul>
<p>Følgende sider er laget og er under konstruksjon/påfyll:</p>
<ul>
    <li><a asp-area="" asp-controller="Administrator" asp-action="Index">Dashboard (admin)</a></li>
    <li><a asp-area="" asp-controller="Administrator" asp-action="Users">Users (admin)</a></li>
    <li><a asp-area="" asp-controller="Administrator" asp-action="ManageUser">Manage User (admin)</a></li>
    <li><a asp-area="" asp-controller="Administrator" asp-action="RegisterNewUser">RegisterNewUser (admin)</a></li>
    <li><a href="http://kark.uit.no/~aar029/Bacheloroppgave_Gr4-ChatBot/Chat_Widget/" target="_blank">Chatboks (ligger utenfor MVC løsning)</a></li>
</ul>

<ul>
    Under aktiv utvikling
    <li><a asp-area="" asp-controller="Home" asp-action="Chat">Chat-test</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Test">DirectLine API testarea</a></li>
    <li><a asp-area="" asp-controller="QnA" asp-action="Index">QnA test</a></li>
</ul>*@





