@{
    ViewData["Title"] = "Home Page";
}

<p>Test-sider. Flyttet over fra vanlig html til MVC løsning. Må enda tilpasses en del.</p>
<ul>
    <li><a asp-area="" asp-controller="Administrator" asp-action="Index">Index</a></li>
    <li><a asp-area="" asp-controller="Administrator" asp-action="Users">Users</a></li>
    <li><a asp-area="" asp-controller="Administrator" asp-action="ManageUser">Manage User</a></li>
</ul>

