
@{
    ViewData["Title"] = "Test";
}

@section AddToHead{
    <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" />
}
<h2>Test</h2>

<h2>Direct Line Bot Example</h2>


<div class="row">
    <div class="col-md-4" style="min-height:500px;">
        <div id="bot" />
    </div>
</div>
@section Scripts {
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
        BotChat.App({
            directLine: { secret: '0EHMWUP76KI.cwA.Sds.wy7NypTmRGbx3oXxgjUc-4OHWwBikhE0rSUVxjIvkhs' },
            user: { id: 'userid' },
            bot: { id: 'botid' },
            resize: 'detect'
        }, document.getElementById("bot"));
    </script>
}
