
@{
    ViewData["Title"] = "UserChat";
}
@section AddToHead{
    <link href="@Url.Content("~/css/popupChat.css")" rel="stylesheet" type="text/css" />

}

<h2>UserChat</h2>
Tom side, viser chat fra brukers side. 
<button id="connectToSignalR">Koble til SignalR</button>
<!-- PopUp chatbox -->
<div id="chatbox_placeholder">
  

        <div class="chatbox chatbox--tray">
            <div class="chatbox__title" id="chatbox__title">
                <h5><a href="#">Chat</a></h5>
                <button class="chatbox__title__tray">
                    <span></span>
                </button>
                <button class="chatbox__title__close" id="chatbox__title_close">
                    <span>
                        <svg viewBox="0 0 12 12" width="12px" height="12px">
                            <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                            <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="chatbox__body" id="chatbox__body">

                <!--<div class="text-center" id="welcome">
                    <h3>Velkommen til Narvik Kommunes chat!</h3>
                    <p><b>Chatens åpningstider: </b></p>
                    <p>Mandag - Fredag: 08:30 - 16:00 </p>
                    <button id="startChat" class="btn btn-primary">Start chat</button>
                </div>-->
                
                <div class="chat-message-sender">
                    <p>Hei, jeg er chat-boten Svarta Bjørn, jeg er her for å hjelpe deg finne svar på det du lurer på. Er det noe jeg kan hjelpe deg med?</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <input type="text" id="message" placeholder="Din kommentar ...">
                        <input type="button" id="sendmessage" value="send" />
                    </div>
                </div>
            </div>

        </div>


</div>


    @section Scripts {
        <!--Add script to update the page and send messages.-->
        <!--<script src="~/scripts/popupChat.js"></script>-->
        
       <script src="~/scripts/signalr-client-1.0.0-alpha2-final.js"></script>

          
        <!--<script src="Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>-->
        <script src="~/signalr/hubs"></script>
        <script src="~/chatbox/chat-external.js"></script>       




    }
