
@{
    ViewData["Title"] = "UserChat";
}
@section AddToHead{
    <link href="@Url.Content("~/css/popupChat.css")" rel="stylesheet" type="text/css" />

}

<h2>UserChat</h2>
Tom side, viser chat fra brukers side. 

<!-- PopUp chatbox -->
<div id="chatbox_placeholder">
    <div class="chatbox chatbox--tray chatbox--empty" id="chatbox">
        <div class="chatbox_title_unconnected" id="chatbox__title">
            <h5><a href="#">ChatBot</a></h5>
            <button class="chatbox__title__tray" >
                <span></span>
            </button>
            <button class="chatbox__title__close" id="chatbox__title__close">
                <span>
                    <svg viewBox="0 0 12 12" width="12px" height="12px">
                        <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                        <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                    </svg>
                </span>
            </button>
        </div>
        <div class="chatbox__body" id="chatbox__body">
            
        </div>
        <div class="chatbox__credentials" id="chatbox__credentials">
            <div class="form-group">
                <p>Klikk på knappen for å starte chatten.</p>
            </div>
            
            <button id="connectToSignalR" class="btn btn-success btn-block">Start Chat</button>
        </div>
        <div class="input-group">
            <input type="text" class="form-control chatbox__message" id="message" placeholder="Din kommentar. Trykk enter for å sende">
            <span class="input-group-btn">
                <button class="btn btn-primary chatbox__button" type="button" id="sendmessage">Send!</button>
            </span>
        </div>
  </div>

</div>


    @section Scripts {
        <!--Add script to update the page and send messages.-->
        <!--<script src="~/scripts/popupChat.js"></script>-->
        
       <script src="~/scripts/signalr-client-1.0.0-alpha2-final.js"></script>

          
        <!--<script src="Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>-->
        <script src="~/signalr/hubs"></script>
        <script src="~/chatbox/chat-external.js"></script>       




    }
