@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "To-faktor autentisering";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Du har ingen gjennopprettingskoder igjen.</strong>
            <p>Du må <a asp-action="GenerateRecoveryCodes">generere et nytt sett med gjennopprettingskoder</a> før du kan logge inn ved hjelp av en.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Du har 1 gjennopprettingskode igjen.</strong>
            <p>Du burde <a asp-action="GenerateRecoveryCodes">generere et nytt sett med gjennopprettingskoder</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Du har @Model.RecoveryCodesLeft gjennopprettingskoder igjen.</strong>
            <p>Du burde <a asp-action="GenerateRecoveryCodes">generere et nytt sett med gjennopprettingskoder</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-danger">Slå av 2-stegs autentisering</a>
    <a asp-action="GenerateRecoveryCodes" class="btn btn-warning">Reset gjennopprettings koder</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-success">Legg til 2-stegs autentiserings-app</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-warning">Konfigurer autentiserings-app</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-warning">Reset autentiserings nøkkel</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
