@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAIndexViewModel

@{
    ViewData["Title"] = "QnAIndexViewModel";
}

<h4>QnAIndexViewModel</h4>
<hr />
<div class="col-md-4" id="commentForm">
    <form asp-action="PostMessage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Kommentar</label>
            <input class="form-control" id="text" />
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="button" value="Create" id="save" onclick="addComment()" class="btn btn-default" />
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
            function addComment() {
                QnA = {
                    "query": $("#text").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/api/QnA/",
                    data: JSON.stringify(QnA),
                    contentType: "application/ json; charset = utf-8",
                    dataType: 'json',
                    success: function (result) {
                        $("#update").html("<p>" + result + "</p>");

                    },
                    error: function (req, status, error) {
                        $("#update").html("AJAX error");
                    }
                });
            }
    </script>
}
<div id="update"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>