@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAKnowledgeBase

@{
    ViewData["Title"] = "Svarta Bjørn | Legg til ny kunnskapsbase";
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2>Legg til en ny kunnskapsbase</h2>
                </div>
                <div class="col-md-2">
                    <img src="~/images/bot-help.jpg" style="float:right;max-height:100px;max-width:100px;" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddNewQnAKnowledgeBaseAsync">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <label asp-for="QnABotId" class="control-label"></label>
                            <input asp-for="QnABotId" class="form-control" />
                            <span asp-validation-for="QnABotId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="QnAKnowledgeName" class="control-label"></label>
                            <input asp-for="QnAKnowledgeName" class="form-control" />
                            <span asp-validation-for="QnAKnowledgeName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Opprett" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                @Html.ActionLink("Tilbake til bot", "QnABotDetails", new { id = Model.QnABotId })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>
}
