@model Bachelor_Gr4_Chatbot_MVC.Models.ChatbotDetails

@{
    ViewData["Title"] = "RegisterNewChatbot";
}
<div id="wrapper">

    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="row">
                    <h2>Registrer ny chatbot</h2>

                    <h4>ChatbotDetails</h4>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="ManageUser">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="chatbotName" class="control-label"></label>
                                <input asp-for="chatbotName" class="form-control" />
                                <span asp-validation-for="chatbotName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="contentType" class="control-label"></label>
                                <input asp-for="contentType" class="form-control" />
                                <span asp-validation-for="contentType" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BotSecret" class="control-label"></label>
                                <input asp-for="BotSecret" class="form-control" />
                                <span asp-validation-for="BotSecret" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="baseUrl" class="control-label"></label>
                                <input asp-for="baseUrl" class="form-control" />
                                <span asp-validation-for="baseUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="tokenUrlExtension" class="control-label"></label>
                                <input asp-for="tokenUrlExtension" class="form-control" />
                                <span asp-validation-for="tokenUrlExtension" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="conversationUrlExtension" class="control-label"></label>
                                <input asp-for="conversationUrlExtension" class="form-control" />
                                <span asp-validation-for="conversationUrlExtension" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="botAutorizeTokenScheme" class="control-label"></label>
                                <input asp-for="botAutorizeTokenScheme" class="form-control" />
                                <span asp-validation-for="botAutorizeTokenScheme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Lagre" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Chatbots">Tilbake til listen</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}

